
.btn-store{
    background-color: #e96d08;
    color: #fff;
    padding: 20px;
}

.btn-store:hover{
    background-color: #ea7f28;
    color: #fff;
}

.btn-login:disabled{
    background-color: #ea7f28;
    color: #fff;
}
.btn-login:focus{
    background-color: #ea7f28;
    color: #fff;
}